<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040844537106-mm2nngakgb0ier4lcis8fm7i58sk8r95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040844537106-mm2nngakgb0ier4lcis8fm7i58sk8r95</string>
	<key>API_KEY</key>
	<string>AIzaSyA5tnzJKMf2VT-x0rs6o2dkLvu0ftjq2KU</string>
	<key>GCM_SENDER_ID</key>
	<string>1040844537106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>database-exercise-13d52</string>
	<key>STORAGE_BUCKET</key>
	<string>database-exercise-13d52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040844537106:ios:5837268d2a9416918187cb</string>
	<key>DATABASE_URL</key>
	<string>https://database-exercise-13d52.firebaseio.com</string>
</dict>
</plist>